:root {
    --transition-all:
        color 0.3s ease-in-out 0.1s,
        background-color 0.3s ease-in-out 0.1s,
        border-color 0.3s ease-in-out 0.1s,
        opacity 0.3s ease-in-out 0.1s,
        box-shadow 0.3s ease-in-out 0.1s,
        filter 0.3s ease-in-out 0.1s;
    --transition-all-fast:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        filter 0.2s ease-in-out;
    --transition-all-slow:
        color 0.6s ease-in-out,
        background-color 0.6s ease-in-out,
        border-color 0.6s ease-in-out,
        opacity 0.6s ease-in-out,
        box-shadow 0.6s ease-in-out,
        filter 0.6s ease-in-out;
}
