.container {
    composes: card from "../../../styles/pages/Page.module.css";
    padding: 0;
}

.container h3 {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 0.5rem 2rem 0.5rem;
    font-weight: 500;
    background-color: var(--blueGray-900);
}

.title {
    margin: 0.5rem 0;
    padding: 0 2rem 1rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.basic h3 {
    background-color: var(--emerald-700);
    background-image: linear-gradient(135deg, var(--emerald-600), var(--emerald-800));
}

.intermediate h3 {
    background-color: var(--blue-700);
    background-image: linear-gradient(135deg, var(--blue-600), var(--blue-800));
}

.advanced h3 {
    background-color: var(--pink-700);
    background-image: linear-gradient(135deg, var(--pink-600), var(--pink-800));
}
