.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1.25rem;
    color: var(--secondary);
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.container svg {
    margin-top: 4px;
}

.container a {
    width: fit-content;
    border-bottom: 2px solid transparent;
    font-weight: 350;
    text-shadow: var(--shadow-md);
    transition: var(--transition-all);
}

.container a:hover, .container a:active {
    color: var(--link-hover);
    border-bottom-color: var(--link-hover);
}

@media (min-width: 640px) {
    .container {
        flex-direction: row;
        gap: 0.25rem;
        font-size: 1.5rem;
    }
}
