.container h1 {
    margin-bottom: 0;
    text-align: left;
}

.postCategory {
    margin-bottom: 0.5rem;
    font-size: large;
    font-weight: 500;
    color: var(--secondary);
    text-transform: uppercase;
}

p.postDescription {
    margin-bottom: 2rem;
    text-indent: unset;
    color: var(--blueGray-100);
}

.coverImage {
    width: 100%;
    max-height: 600px;
    margin-top: 2rem;
}

.postContent {
    margin-top: 2rem;
}

.postContent h2 {
    margin: 4rem 0 1.5rem;
    text-align: left;
}

.postContent p {
    text-indent: unset;
}

.postContent blockquote {
    margin: 2.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    border-left: 0.45rem solid var(--secondary);
    font-style: italic;
    background-color: hsla(0, 0%, 100%, 0.1);
    color: var(--blueGray-100);
    /* box-shadow: var(--shadow-sm); */
}

.postContent blockquote p {
    margin: 0;
}

.postContent a {
    color: var(--link);
    border-bottom: 0.15rem solid transparent;
    transition: var(--transition-all-fast);
}

.postContent a:hover, .postContent a:active {
    color: var(--link-hover);
    border-color: var(--link-hover);
}

.authorSignature {
    margin-top: 4rem;
    padding: 2rem 0;
    border-top: 1px solid var(--blueGray-300);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorSignature img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.authorName {
    text-transform: uppercase;
    color: var(--secondary);
}

.authorLink {
    font-size: large;
    font-weight: 300;
}

.authorLink a {
    border-bottom: 0.0625rem solid transparent;
}

.authorLink a:hover, .authorLink a:active {
    color: var(--link-hover);
    border-color: var(--link-hover);
    transition: var(--transition-all);
}

.coverImageAuthor {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: large;
    font-weight: 300;
    font-style: italic;
}
