.container h1 {
    margin-bottom: 0;
    text-align: left;
}

.postCategory {
    margin-bottom: 0.5rem;
    font-size: large;
    font-weight: 500;
    color: var(--secondary);
    text-transform: uppercase;
}

p.postDescription {
    margin-bottom: 2rem;
    text-indent: unset;
    color: var(--blueGray-100);
}

.coverImage {
    width: 100%;
    max-height: 600px;
    margin: 2rem 0;
}

.authorSignature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorSignature img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.authorName {
    text-transform: uppercase;
    color: var(--secondary);
}

.authorLink {
    font-size: large;
    font-weight: 300;
}

.authorLink a {
    border-bottom: 0.0625rem solid transparent;
}

.authorLink a:hover, .authorLink a:active {
    color: var(--link-hover);
    border-color: var(--link-hover);
    transition: var(--transition-all);
}

.coverImageAuthor {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: large;
    font-weight: 300;
    font-style: italic;
}

.postFooter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .postFooter {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
