.postListContainer {
    margin-top: 2rem;
    border-top: solid 1px var(--blueGray-300);
    padding-top: 2rem;
}

.postList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 640px) {
    .postList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .postList {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .featuredPost {
        min-height: 22rem;
        grid-column: span 3;
    }
}
