.coverImage {
    width: 100%;
    margin: 2rem auto;
}

.subjectGroup {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.noLessons {
    text-align: center;
}

@media (min-width: 640px) {
    .subjectGroup {
        grid-template-columns: 1fr 1fr;
    }
}
