.container {
    flex: 1;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5rem 1rem 1rem;
    font-size: larger;
}

.container section+section {
    margin-top: 5rem;
}

.container h1 {
    margin-bottom: 2rem;
    /* border-bottom: 2px solid white; */
    text-align: center;
    font-family: var(--font-display);
    font-weight: 600;
    font-size: 2em;
    filter: var(--drop-shadow-md);
}

.container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: var(--font-display);
    font-weight: 600;
    font-size: 1.5em;
    /* text-transform: uppercase; */
    color: var(--secondary);
    filter: var(--drop-shadow-md);
}

.container p {
    margin: 1rem 0;
    line-height: 1.5;
    /* text-align: justify; Deactivated for accessibilty issues */
    font-weight: 300;
}

.container section > p {
    text-indent: 1em;
}

.container strong,
.container b {
    font-weight: 400;
    /* color: var(--secondary); */
}

.container ol, .container ul {
    font-weight: 300;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 2.5rem;
}

.container ol {
    list-style-type: decimal;
}

.container ul {
    list-style-type: disc;
}

.promptBox {
    margin: 2rem auto 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.promptBtn {
    composes: base-btn from "../../styles/buttons.module.css";
    background-color: var(--warmGray-800);
    color: var(--warmGray-100);    
    box-shadow: var(--shadow-md);
    transition: var(--transition-all);
}

.promptBtn:hover,
.promptBtn:active {
    background-color: var(--warmGray-700);
    color: white;
    box-shadow: var(--shadow-lg);
}

.card {
    padding: 1rem 2rem;
    background-color: var(--blueGray-800);
    background-image: linear-gradient(135deg, var(--blueGray-700), var(--blueGray-900));
    border-radius: 1rem 2rem 1rem;
    box-shadow: var(--shadow-lg);
    transition: var(--transition-all);
}

@media (min-width: 640px) {
    .container {
        padding: 3.5rem 1.5rem 1rem;
    }
    .promptBox { flex-direction: row; }
}

@media (min-width: 768px) {
    .container {
        padding: 3.5rem 3rem 1rem;
        font-size: x-large;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 3.5rem 5rem 1rem;
    }
}