.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
    
    background-color: var(--blueGray-800);
    background-image: linear-gradient(135deg, var(--blueGray-700), var(--blueGray-900));
    border-radius: 5px;
    box-shadow: var(--shadow-md);
    transition: var(--transition-all);
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    display: block;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--blueGray-200);
    font-size: x-large;
    filter: var(--drop-shadow-md);
}

.description {
    flex: 1;
    padding: 0.5rem 0;
    font-size: large;
    font-weight: 300;
    color: var(--gray-300);
    filter: var(--drop-shadow);
}

.card a {
    width: fit-content;
    align-self: center;
}

.techs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;
    /* font-size: large; */
    color: var(--gray-300);
    filter: var(--drop-shadow-md);
}

.techWrapper {
    position: relative;
}

.techWrapper svg {
    width: 1.3rem;
    height: 1.3rem;
}

.tooltip {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    opacity: 0;

    padding: 0.1rem 0.5rem;
    background-color: var(--gray-900);
    border-radius: 0 10px 10px;

    font-size: medium;
    white-space: nowrap;
    user-select: none;

    transition: var(--transition-all);
}

.techWrapper:hover .tooltip {
    opacity: 1;
}

.thumbnail {
    align-self: center;
    max-width: 20rem;
    /* height: 9rem; */
    background-color: var(--gray-900);
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 640px) {
    .card { flex-direction: row; }
    /* .card:nth-child(even) {
        flex-direction: row-reverse;
    } */
    .title { text-align: left; }
    .techs { justify-content: flex-start; }
}
