.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border-top: 0.05rem solid var(--gray-300);

    font-size: large;
    color: var(--gray-300);
}

.contactLinks {
    display: flex;
    gap: 0.5rem;
}

.contactLinks a {
    color: var(--gray-300);
    transition: var(--transition-all);
}

.contactLinks a:hover, .contactLinks a:active {
    color: var(--gray-50);
}

.contactLinks svg {
    width: 2rem;
    height: 2rem;
}

.credits {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.photoCredits {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    .container { flex-direction: row; justify-content: space-between; }
    .contactLinks { width: 50%; }
}

