

.container {
    position: relative;
    display: flex;
    /* padding-left: 3.5rem;
    @media (min-width: @md-sm) { padding-left: 6.5rem; }
    @media (min-width: @md-lg) { padding-left: 11rem; }
    @media (min-width: @md-xlg) { padding-left: 15rem; } */

    /* padding: 2rem; */
    padding: 0.5rem 0rem 0.5rem 15rem;
    background-color: var(--indigo-600);
    background-image: linear-gradient(135deg, var(--indigo-600), var(--indigo-900));
}


.main {
    flex: 1;
    text-decoration: none;
    color: unset;
}

.devName {
    margin-bottom: 0.15rem;
    border-bottom: 0.15rem solid;
    
    font-family: var(--font-display);
    /* font-size: 1.3rem; */
    font-size: 2rem;
    font-weight: 500;

    color: var(--primary);
}

.devJobTitles {
    margin: 0.25rem 0 0 1rem;
    font-family: var(--font-display);
    /* font-size: 1rem; */
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary);
}

.burgerBtn {
    position: absolute;
    top: 0;
    left: 0;
}