

.container {
    position: relative;
    display: flex;
    /* padding-left: 3.5rem;
    @media (min-width: @md-sm) { padding-left: 6.5rem; }
    @media (min-width: @md-lg) { padding-left: 11rem; }
    @media (min-width: @md-xlg) { padding-left: 15rem; } */

    /* padding: 2rem; */
    padding: 0.5rem 0rem 0.5rem 3.5rem;

    background-color: var(--blueGray-400);
    background-image: linear-gradient(135deg, var(--blueGray-400), var(--blueGray-600));

    box-shadow: var(--shadow-lg);
    user-select: none;
}

.main {
    flex: 1;
    text-decoration: none;
    color: unset;
}

.siteName {
    padding: 0.25rem 0;
    border-bottom: 0.15rem solid;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary);
    filter: var(--drop-shadow-lg);
}

.siteDescription {
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary);
    filter: var(--drop-shadow-md);
}

.menuBtn {
    composes: btn-icon from "../../styles/buttons.module.css";
    composes: btn-icon-white from "../../styles/buttons.module.css";
    position: absolute;
    top: 1rem;
    left: 0.5rem;
}

.langBar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
}


@media (min-width: 640px) {
    .container { padding-left: 8rem; }
    .siteName { font-size: 2rem; }
    .siteDescription { font-size: 1.2rem; padding-left: 1rem; }
    .menuBtn { left: 1rem; font-size: xx-large; }
    .langBar { top: 1rem; display: flex; }
}

@media (min-width: 1024px) {
    .container { padding-left: 15rem; }
    .menuBtn { display: none; }
}
