.container {
    display: flex;
    flex-direction: column;
    background-color: var(--blueGray-600);
    border-radius: 1rem 2rem 1rem;
    box-shadow: var(--shadow-lg);
    transition: var(--transition-all);
}

.container:hover, .container:active {
    box-shadow: var(--shadow-xl);
}

.coverContainer {
    height: 12rem;
}

.coverContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem 2rem 0 0;
}

.sidePanel {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    filter: var(--drop-shadow-lg);
}

.featured .sidePanel {
    margin: auto 0;
}

.categoryLink {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary);
    text-transform: uppercase;
}

.info {
    flex: 1;
}

.info h3 {
    font-size: x-large;
}

.info p.description {
    flex: 1;
    text-indent: unset;
    font-size: large;
    color: var(--blueGray-200);
}

@media (min-width: 768px) {
    .featured {
        min-height: 20rem;
        grid-column: span 2;
    }
    .featured {
        flex-direction: row;
        gap: 1rem;
    }
    .featured .coverContainer {
        height: unset;
        flex: 7;
    }
    .featured .coverContainer img {
        border-radius: 1rem 0 0 2rem;
    }
    .featured .sidePanel {
        flex: 5;
    }
    .featured h3 {
        font-size: xx-large;
    }
}

@media (min-width: 1024px) {
    .featured {
        min-height: 22rem;
        grid-column: span 3;
    }
}
