.container {
    display: flex;
    gap: 0.5rem;
}

.container a {
    font-size: 1.2rem;
    color: var(--gray-400);
    transition: color 0.3s;
    text-decoration: none;
    filter: var(--drop-shadow-md);
}

.container a.current {
    font-size: 1.3rem;
    color: white;
}

.container a:hover, .container a:active {
    color: var(--yellow-400);
    text-decoration: underline;
}
