.container {
  /* position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem; */
}

.current {
  /* color: orangered; */
}

.current:hover, .current:active {
  /* border-color: orangered; */
}
