.container {
    /* background-color: var(--red-500); */

    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    gap: 0.5rem;
    
}

.container a {
    font-size: 1.2rem;
    color: var(--gray-400);
    transition: color 0.3s;
    text-decoration: none;
}

.container a.current {
    color: white;
    /* text-decoration: underline; */
}

.container a:hover, .container a:active {
    color: var(--yellow-400);
    text-decoration: underline;
}