.btn-icon {
    display: flex;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: x-large;
    transition: var(--transition-all);
}

.btn-icon-white {
    color: var(--gray-200);
}
.btn-icon-white:hover, .btn-icon-white:active {
    color: var(--gray-50);
}
