// MOVE?
// * VARIABLES

// Media query breakpoints
@sm : 640px;
@md : 768px;
@lg : 1024px;
@xl : 1280px;
@2xl: 1536px;

@import "./var-fonts.css";
@import "./var-colors.css";
@import "./var-shadows.css";

// Content wrapper: limit width and center content
.inner-container {
    background-color: red;
    // width: 100%;
    // max-width: 900px;
    // margin: 0;
    // @media (min-width: @md-lg) {
    //   margin-left: @side-panel-width;
    // }
    // @media (min-width: @md-xlg) {
    //   margin: 0 auto;
    // }
}


// RESET
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}



body {
  font-family: var(--font-sans);
  font-size: medium;
  background-color: var(--blueGray-600);
  background-image: linear-gradient(135deg, var(--blueGray-600), var(--blueGray-900));
  color: white;
}

a {
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: var(--link-hover);
  }
}



// Main panel
.layout-container .main-panel {
    .inner-container();
}