@import "globals/fonts.css";
@import "globals/colors.css";
@import "globals/shadows.css";
@import "globals/transitions.css";
@import "globals/media.css";
@import "globals/preflight.css";
body {
  min-height: 100vh;
  background-color: var(--blueGray-500);
  background-image: linear-gradient(135deg, var(--blueGray-500), var(--blueGray-700));
  background-repeat: no-repeat;
  font-family: var(--font-sans);
  font-size: medium;
  color: var(--primary);
}
a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
