@header-height: 6rem;
@footer-height: 4rem;
@side-panel-width: 12rem;
@bg-dark-gradient: linear-gradient(#333, #000);
@c-primary: #fff;
@c-secondary: #aef;


.inner-container() {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    // Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: Roboto;
  font-size: medium;

  background: @bg-dark-gradient;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  // color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}


header {
  // background-color: fade(pink, 10%);
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15rem;
  font-family: Kufam;

  h1 {
    margin-bottom: 0.2rem;
    border-bottom: 0.15rem solid;
    font-size: 2rem;
    font-weight: 500;
    color: @c-primary;
  }
  .jobs {
    margin: 0.25rem 0 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: @c-secondary;
  }
}


.container {
  display: flex;
  min-height: calc(100vh - @header-height);
  margin-top: @header-height;
  .side-panel {
    position: fixed;
    width: @side-panel-width;
    height: calc(100vh - @header-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .main-panel {
    .inner-container();
    margin-left: @side-panel-width;
  }
}


nav {
  // background-color: fade(magenta, 10%);
  
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
  padding: 1.5rem;

  a {
    // border-bottom: 2px solid white;
    position: relative;
    height: 3rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: larger;
    font-weight: 300;
    color: #ccc;
    transition: color 0.3s ease-in-out;
    
    &:after {    
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 0;
      height: 0.1rem;
      border-radius: 0.07rem;
      background: #ccc;
      transition: width 0.3s ease-in-out 0.2s, background-color 0.3s ease-in-out 0.2s;
    }
    &:hover {
      color: #fff;
    }
    &:hover:after {
      width: 100%;
      background: #fff;
    }
  }
}

main {
  // background-color: fade(yellow, 10%);

  min-height: calc(100% - @footer-height);
  padding: 2rem 5rem 0;
}


footer {
  // background-color: fade(limegreen, 10%);
  
  height: @footer-height;
  padding: 0.5rem;
  border-top: 0.05rem solid #fffa;
  text-align: center;
  font-weight: 300;

  a {
    display: block;
    margin-top: 0.25rem;
  }
}


.timeline-container {
  .timeline {
    // background-color: fade(cyan, 10%);


    // border-left: 3px solid grey;
    position: relative;
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 2px);
      margin: 2.5rem 0 2.5rem;
      width: 4px;
      // margin-left: -2px;
      // background: #006E51;
      border-left: 4px dotted red;

      // background: linear-gradient(to bottom, #5550, #555f, #555f, #555f, #5550);

    }
  }
  .event-container {

    position: relative;
    width: 50%;
    padding: 10px;

    &.left {
      left: 0;
      .card time {
        left: calc(100% + 2rem);
        justify-content: flex-start;
      }
    }
    &.right {
      left: 50%;
      .card time {
        right: calc(100% + 2rem);
        justify-content: flex-end;
      }
    }

    .card {

      position: relative;
      
      border: 1px solid #aaa;
      border-radius: 5px;
      background-image: @bg-dark-gradient;

      .card-head {
        display: flex;
        align-items: center;
        background-color: #aaa;
        padding: 10px;
        svg {
          // box-sizing: content-box;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
          fill: #333;
        }
        h3 {
          width: 100%;
          color: #333;
        }
      }
      .card-body {
        padding: 0 10px 20px;
        font-weight: 300;
        .duration {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
          padding: 0.2rem 0.5rem;
          border-top-left-radius: 5px;
          border-bottom-right-radius: 5px;
          font-size: smaller;
          font-weight: 400;
          background-color: #333;
          &.ongoing {
            background-color: orangered;
          }
        }
      }
      time {
        position: absolute;
        top: calc(50% - 1rem);
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem;
        font-size: larger;
      }
    }
  }
}

.info-text {
  line-height: 1.5;
  font-weight: 300;
  font-size: large;
  .keyword {
    color: @c-secondary;
    font-weight: 400;
  }
}