.container {
    padding: 1.5rem 1rem 1.5rem;
    font-size: large;
}

.container section + section { margin-top: 3rem; }

.container h2 {
    text-align: center;
    font-weight: 500;
    color: var(--secondary);
}

.container p {
    line-height: 1.5;
    text-align: justify;
    text-indent: 1.5rem;
    font-weight: 300;
}

.container strong {
    font-weight: 500;
    color: var(--secondary);
}


@media (min-width: 640px) {
    .container { padding: 3.5rem 1.5rem 1.5rem; font-size: larger; }
}

@media (min-width: 768px) {
    .container { padding: 3.5rem 3rem 1.5rem; font-size: x-large; }
}

@media (min-width: 1024px) {
    .container { padding: 3.5rem 5rem 1.5rem; }
}
